{% extends 'front/layout.html' %}

{% load static %}

{% block content %}
    <h1>Запись на прием</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.speciality.id_for_label }}">Специалист</label>
            <select
                name="{{ form.speciality.html_name }}"
                id="{{ form.speciality.id_for_label }}"
                class="form-control fld-speciality"
                disabled
                data-url="{% url 'api:speciality-list' %}">
            </select>
        </div>

        <div class="form-group">
            <label for="{{ form.doctor.id_for_label }}">Врач</label>
            <select
                name="{{ form.doctor.html_name }}"
                id="{{ form.doctor.id_for_label }}"
                class="form-control"
                disabled
                data-url="{% url 'api:doctor-list' %}">
            </select>
        </div>

        <div class="form-group">
            <label for="{{ form.day.id_for_label }}">День записи</label>
            <div id="{{ form.day.id_for_label }}-datepicker" data-date="01/08/2017"></div>
            <input
                type="hidden"
                name="{{ form.day.html_name }}"
                id="{{ form.day.id_for_label }}"
                data-url="{% url 'api:timetable-list' %}"
            >
        </div>

        <div class="form-group">
            <label for="{{ form.time.id_for_label }}">Время приема</label>
            <select
                name="{{ form.time.html_name }}"
                id="{{ form.time.id_for_label }}"
                class="form-control"
                disabled
                data-base-url="/api/times">
            </select>
        </div>
        
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">Имя</label>
            <input
                name="{{ form.first_name.html_name }}"
                id="{{ form.first_name.id_for_label }}"
                class="form-control"
            >
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
            <input
                name="{{ form.last_name.html_name }}"
                id="{{ form.last_name.id_for_label }}"
                class="form-control"
            >
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Записаться" />
        </div>
    </form>
{% endblock %}

{% block body_scripts %}

    {{ block.super }}

    <script src="{% static 'front/js/index.js' %}"></script>
{% endblock %}